*{
    box-sizing: border-box;
    font-family: 'Times New Roman';
    color:black;
}

html, body {
    /*margin and panding modify the margin */
    margin: 0;
    padding: 0;
    
}

.nav ul{
    margin: 0;
}

.nav li{
    /* display elements in a horizontal way*/
    display: inline;
}

.nav a{
    display: inline-block;
    padding: 4em;
    color:azure;
    /*remove underlines*/
    text-decoration: none;
}
.main-nav{
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    
}

.main-nav li {
    /*leaves space between items in the navigator*/
    padding: 0 5%;
}

/* Hover helps to see which item we are currently seclecting*/
.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}
.main-header {
    
    background-image: url("avt.jpg");
    backrground-size: cover;
    
    
}




